package ${package.Controller};

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.*;
import javax.annotation.Resource;

import $!{package.Service}.${table.serviceName};
import ${package.Entity}.${entity};

import org.springframework.web.bind.annotation.RequestMapping;

#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * @author ${author}
 * @since ${date}
 */
@Slf4j
#if(${restControllerStyle})
@RestController
@Api(tags = "$!{table.comment}控制器")
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    @Resource
    private ${table.serviceName} ${table.entityPath}Service;

    @ApiOperation("保存或更新$!{table.comment}")
    @PostMapping("/save")
    public ResponseData save(@RequestBody ${entity} ${table.entityPath}) {
        return ${table.entityPath}Service.saveOrUpdate${entity}(${table.entityPath});
    }

    @ApiOperation("删除$!{table.comment}")
    @GetMapping("/{id}")
    public ResponseData delete(@PathVariable String id) {
        ${table.entityPath}Service.removeById(id);
        return new ResponseData("删除成功");
    }

    @ApiOperation("批量删除$!{table.comment}")
    @PostMapping("/del/batch")
    public ResponseData deleteBatch(@RequestBody List<String> ids) {
        ${table.entityPath}Service.removeByIds(ids);
        return new ResponseData("批量删除成功");
    }

    @ApiOperation("查询所有数据")
    @GetMapping("/findAll")
    public ResponseData<List<${entity}>> findAll() {
        return new ResponseData("查询所有数据", ${table.entityPath}Service.list());
    }

    @ApiOperation("根据ID查询指定数据")
    @GetMapping("/get/{id}")
    public ResponseData<${entity}> get(@PathVariable String id) {
        return new ResponseData("根据ID查询指定数据", ${table.entityPath}Service.getById(id));
    }

    @ApiOperation("$!{table.comment}分页查询数据")
    @GetMapping("/page")
    public Page<${entity}> page(QueryObject queryObject) {
        QueryWrapper<${entity}> wrapper = new QueryWrapper<>();
        return ${table.entityPath}Service.page(new Page<>(queryObject.getPageNum(), queryObject.getPageSize()), wrapper);
    }
}
